.cerlabel {
  position: center;
  font-family: Arial;
  font-weight: bold;
  color: #871455;
  margin-bottom: 0px;
}
.runs-chart {
  height: 200px;
}
.runs-panel {
  height: 400px !important;
}
/* .canada-map {
  height: 400px !important;
} */
