body {
  font-size: 20px;
  line-height: 1.65em;
}

.runs-panel {
  height: 400px !important;
}
.runs-panel p {
  font-size: 16px !important;
  line-height: 1.4375 !important;
}

.text-highlight {
  font-style: normal;
  font-weight: bold;
}
/* small screen */
@media only screen and (max-height: 900px), screen and (max-width: 1440px) {
  .runs-chart {
    height: 180px;
  }
}
/* large screens */
@media only screen and (min-height: 900px), screen and (min-width: 1440px) {
  .runs-chart {
    height: 200px;
  }
}
