/* body {
  font-size: 20px;
  line-height: 1.65em;
} */

.dashboard-style {
  font-size: 16px !important;
  line-height: 1.4375 !important;
}

#chart-title {
  display: inline !important;
}

.text-highlight {
  font-style: normal;
  font-weight: bold;
}
/* small screen */
@media only screen and (max-height: 900px), screen and (max-width: 1440px) {
  .runs-chart {
    height: 170px;
  }
}
/* large screens */
@media only screen and (min-height: 900px), screen and (min-width: 1440px) {
  .runs-chart {
    height: 200px;
  }
}
